<a href="https://colab.research.google.com/github/Shi-pra-19/dl-genai-project/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DATA CLEANING

## Overview

This notebook performs data cleaning on a text column. Duplicate rows based on the text column are removed to ensure each text entry is unique. Then, a set of unwanted target strings ("& # x 26; nbsp;", "#name?", "##url##", ">", "<", etc) are removed from the text column in both datasets. After cleaning, we check for empty text rows in both the training and test sets, identifying a few entries with no text. Finally, it saves the cleaned datasets to new CSV files: train_clean.csv and test_clean.csv.

Results:

- Training data shape: (4986, 8)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

**Remove duplicates, keeping only set of text**

In [ ]:
df = df.drop_duplicates(subset='text', keep='first')

In [ ]:
df.shape

(4986, 8)

**Remove unnecessary words**

In [ ]:
targets = [
    "& # x 26; nbsp;",
    "#name?",
    "##url##",
    "&gt;",
    "&lt;"
]
for t in targets:
    df["text"] = df["text"].str.replace(t, "", regex=False)
    test["text"] = test["text"].str.replace(t, "", regex=False)

In [ ]:
df.shape

(4986, 8)

In [ ]:
empty_rows = df[df["text"]== ""]

print(empty_rows)

        id text  anger  fear  joy  sadness  surprise emotions
1780  1780           0     0    0        0         0       []
3326  3326           0     0    0        0         0       []

In [ ]:
empty_rows = test[test["text"]== ""]

print(empty_rows)

        id text
128    128
1336  1336
1420  1420

In [ ]:
df.text.describe()

count     4986
unique    4985
top
freq         2
Name: text, dtype: object

In [ ]:
df.shape

(4986, 8)

In [ ]:
test.shape

(1707, 2)

**Save**

In [ ]:
df.to_csv('train_clean.csv', index=False)
test.to_csv('test_clean.csv', index=False)